## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Create a Jupyter Notebook.
- Insert code and markdown cells.

## Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools     |
|------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Spark            |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

## Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutos = 200  # Número de minutos a convertir
horas = minutos / 60  # Conversión a horas
print(f"{minutos} minutos son {horas} horas.")

200 minutos son 3.3333333333333335 horas.

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Carolina Vega